// variables
$height:50px;
$height-md:44px;
$height-sm:40px;
$btn-color:color(900);
$btn-light: #CDCED0;
$btnColors: (
  primary: (
    clr: color(50),
    bg: $primary,
  ),
  secondary:(
    clr:color(50),
    bg:$secondary,
  ),
  success:(
    clr:color(50),
    bg:$success,
  ),
  light:(
    clr:color(50),
    bg:$btn-light,
  ),
  
);
/* button start */
.btn{
    height: $height;display: flex;align-items: center;justify-content: center; font-size: 16px;
    border-radius: 5px;padding:15px 40px;font-weight:500;transition: all 0.3s;
    
    @each $key, $clrValue in $btnColors {
        // solid button
        &-#{$key} {
            @include button-variant(map-get($clrValue, clr), map-get($clrValue, bg), map-get($clrValue, bg));
        }
    }
    &-icon {
      color: color(50);transition: all 0.3s;
      font-size: 10px;
      &.left{
        margin-right: 12px;
      }
      &.right{
        margin-left: 12px;
      }
    }
    &-sm{
      height: $height-sm;padding: 8px 18px;font-size: 14px;
    }
    &-md{
      height: $height-md;padding: 10px 20px;font-size: 14px;
    }
    &:hover{
      em.right{
        transform: translateX(5px);
      }
      em.left{
        transform: translateX(-5px);
      }
    }
    @include media-breakpoint-down(xxl) {
      height: 46px;padding: 10px 30px; font-size: 15px;
      &-icon {
        &.left{
          margin-right: 8px;
        }
        &.right{
          margin-left: 8px;
        }
      }
      &-sm{
        height: 35px;padding: 5px 12px;
      }
      &-md{
        height: 40px;padding: 8px 15px;
      }
    }
    @include media-breakpoint-down(lg) {
      height: 42px;padding: 10px 20px; font-size: 14px;
      &-icon {
        font-size: 9px;
        &.left{
          margin-right: 5px;
        }
        &.right{
          margin-left: 5px;
        }
      }
      &-sm{
        height: 34px;padding: 5px 8px;
      }
      &-md{
        height: 38px;padding: 8px 10px;
      }
    }
}
/* button end */


/* ripple effect start */
@keyframes ripple {
    0% {
        transform: scale(4);
    }
    100% {
        opacity: 0; transform: scale(40);
    }
  }
  .ripple-effect-dark,
  .ripple-effect {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .ripple-effect span.ripple-overlay,
  .ripple-effect-dark span.ripple-overlay {
    animation: ripple 0.9s;
    border-radius: 100%;
    background: color(50);
    height: 12px;
    position: absolute;
    width: 12px;
    line-height: 12px;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
  }
  .ripple-effect-dark span.ripple-overlay {
    background: color(900); opacity: 0.07;
  }
/* ripple effect end */















