.HarmonizationPage{
    .dataAccordion{
        &_title{font-size: 16px; color: color(800); font-weight: 500; margin: 0 0 20px 20px;}
        .accordion{
            &-item{
                border-radius: 0; border-bottom: 1px solid color(100); 
                margin-bottom: 30px;border-color: color(100);
                &:first-of-type>.accordion-header{
                    .accordion-button{border-top-left-radius: 0;border-top-right-radius: 0;}
                }
                &:last-of-type>.accordion-header{
                    .accordion-button.collapsed{border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
                }
            }
            &-button{
                background-color: color(100); padding: 10px 15px; color: color(800); font-size: 16px;
                font-weight: 500; gap: 8px;
                &:focus{box-shadow: none;}
                &:after{
                    content:"\e90a"; font-family: icomoon, sans-serif !important;
                    background-image: none;
                    font-size: 14px; color: color(250);
                    transform: rotate(180deg); height: auto; width: auto;
                }
                &:not(.collapsed){
                    background-color: color(100);
                    box-shadow: none;
                    &::after{transform: rotate(0);}
                }
                
            }
            &-body{
                padding: 20px;
                p{color: color(800);}
            }
        }
        .commonTable table {
            thead th{font-weight: 500 !important;}
            tbody td .dropdown-menu{
                padding: 15px;
                a{
                    font-size: 12px;
                    &:not(:last-child){padding-bottom: 10px;}
                    em{
                        font-size: 18px;
                    }
                }
            }
            .icon-red{
                em{color: #db0202;}
            }
        }
        .icon-drag{
            color: #CDCED0;
            font-size: 16px;
            flex-shrink: 0;
            margin-right: 12px;
        }
    }
    @include media-breakpoint-down(xxl){
        .dataAccordion{
            &_title{font-size: 15px; margin: 0 0 15px 15px;}
            .accordion{
                &-item{margin-bottom: 20px;}
                &-button{font-size: 15px;
                    &::after{font-size: 12px;}
                }
            }
        }
    }
    @include media-breakpoint-down(xl){
        .dataAccordion{
            &_title{margin: 0 0 10px;}
            .accordion{
                &-item{margin-bottom: 15px;}
                &-button{font-size: 14px;}
                &-body{padding: 15px;}
            }
        }
    }
}

//modal css
.combineDepartment{
    &.commonModal{
        .modal-content{border: 1px solid color(150);}
    }
}
.responsesHarmonization{
    .icon-drag{
        color: #CDCED0;
        font-size: 16px;
        flex-shrink: 0;
        margin-right: 12px;
    }
    .commonTable table {
        thead th{font-weight: 500 !important;}
        tbody td .dropdown-menu{
            padding: 15px;
            a{
                font-size: 12px;
                &:not(:last-child){padding-bottom: 10px;}
                em{
                    font-size: 18px;
                }
            }
        }
        .icon-red{
            em{color: #db0202;}
        }
    }
}