 /* profilePage */
.profilePage {
    .card {
        border-radius: 0; border: none;
        color: color(800); padding: 30px; 
        &.p-20 {
            padding: 20px;
        }
        .profileImg {
            border: 1px solid color(100);
            width: 84px; height: 84px;
            border-radius: 100%;
            overflow: hidden;
            padding: 5px;
            margin-right: 13px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%; height: 100%; object-fit: cover;
            }
            em {
                width: 100%; height: 100%; border-radius: 100%;
                font-size: 34px; background-color: #E9F1FA; color: color(500);
                display: flex; align-items: center; justify-content: center;
            }
        }
        &_leftbox {
            width: 40%;
            flex: 0 0 40%;
            display: flex;
            align-items: start;
            h2 {
                font-weight: 600;
                font-size: 30px;
                margin-bottom: 10px;
            }
            p {
                font-size: 16px; font-weight: 500;
                color: rgba(color(800), 0.5);
                margin-bottom: 22px;
            }
            ul {
                list-style: none; padding-left: 0; margin-bottom: 0; 
                display: flex; align-items: center;
                li {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    &:not(:last-child) {
                        padding-right: 15px; margin-right: 15px;
                        border-right: 2px solid #E9F1FA;
                    }
                }
            }
        }
        &_rightbox {
            width: 60%;
            flex: 0 0 60%;
            .info{
                h4{ font-size: 24px;
                    button{
                        color: rgba(#0F172A,0.2);display: inline-block;margin-left: 7px;
                        background-color: transparent;border: none; transition: all 0.3s ease;
                        &:hover{
                            color: color(500);
                        }
                        em{
                            font-size: 22px;
                        }
                    }
                }
            }
            ul {
                display: flex; flex-wrap: wrap;
                list-style: none; padding-left: 0;
                margin-bottom: 0; row-gap: 25px;
                li {
                    width: 33.33%;
                    p {
                        font-size: 14px; font-weight: 500;
                        color: rgba(color(800), 0.5);
                        margin-bottom: 8px;
                        line-height: 1;
                    }
                    h3 {
                        font-size: 18px; display: flex;
                        align-items: center;
                        .active {
                            width: 12px; height: 12px; margin-right: 8px;
                            border-radius: 12px; background-color: #30D65B;
                        }
                        span {
                            font-size: 14px;
                            font-weight: 600;
                            color: color(500);
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
        // 
        &_title {
            font-size: 20px; font-weight: 600; margin-bottom: 25px;
        }
        &_progress {
            margin-bottom: 30px;
            &_title {
                font-size: 17px; font-weight: 500;
            }
            &_value {
                font-size: 12px; font-weight: 700;
            }
            .progress {
                margin-top: 12px; height: 10px;
                background-color: #E9F1FA;
                &-bar {
                    background-color: color(500);height: 10px;
                }
            }
        }
        .chartbox {
            overflow: hidden;
            h3 {
                font-size: 18px; font-weight: 500; margin-bottom: 20px;
            }
        }
    }
    .pageLenth  {visibility: hidden !important;}
    .nav{
        border-bottom: 1px solid #E9F1FA;flex-wrap: nowrap; overflow-x: auto;
        &-item{
            &:not(:last-child){
                margin-right: 15px;
            }
        }
        &-link{
            font-size: 14px;color: color(250);padding: 25px 18px 10px;font-weight: 500;border-radius: 0;
            white-space: nowrap;
            &:hover{
                color: color(500);
            }
            &.active{
                background-color: transparent;color: color(500); border-bottom: 1px solid color(500);
            }
        }
    }
    .timeLine{
        padding-top: 30px;overflow: hidden;
        li{
            position: relative; margin-bottom: 50px;
        }
        &_time{
            min-width: 70px;
            p{ font-size: 12px;color: color(250);font-weight: 500;}
            span{font-size: 13px;font-weight: 500;}
        }
        &_icon{
            margin-left: 25px;margin-right: 60px;width: 44px;position: relative;
            &_bg{
                border: 5px solid color(100);
                height: 44px;border-radius: 50%;display: flex; align-items: center;
                justify-content: center;width: 100%;position: relative;z-index: 1;
            }
            &_box{
                width: 34px;height: 34px;display: flex; align-items: center;justify-content: center;
                border-radius: 50%;color: color(50); font-size: 19px;
                &.green{
                    background-color: #00A651;
                }
                &.red{
                    background-color: #EE4749;
                }
            }
            &::after{
                position: absolute;top: 44px;left: 50%;transform: translateX(-50%);
                width: 4px;height: calc(100% + 44px);background-color: color(100);content: "";
            }
        }
        &_cnt{
            &_box{
                background-color: color(100);padding: 20px;position: relative;
                &::before{
                    position: absolute;top: 12px;left: -20px;width: 20px;height: 20px;content: "";
                    border-top:12px solid transparent;border-bottom:12px solid transparent;border-right:12px solid color(100);
                }
            }
            p{
                font-size: 16px;margin-bottom: 0;color: color(250);font-weight: 500;
                span{
                    color: color(500);
                }
            }
            ul{
                li{
                    font-size: 14px;color: color(250);
                    span{
                        color: color(500);font-weight: 500;
                    }
                    &:not(:last-child){
                        margin-bottom: 3px;
                    }
                    &:last-child{margin-bottom: 0;}
                }
            }
        }
    }
    @media (max-width:1699px){
        .card {
            padding: 20px; 
            &.p-20 {
                padding: 15px;
            }
            .profileImg {
                width: 70px; height: 70px;
                margin-right: 10px;
                em {
                    font-size: 28px; 
                }
            }
            &_leftbox {
                
                h2 {
                    font-size: 26px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
            &_rightbox {
                ul {
                    row-gap: 15px;
                    li {
                        p {
                            margin-bottom: 5px;
                        }
                        h3 {
                            font-size: 16px; 
                            .active {
                                width: 8px; height: 8px; margin-right: 5px;
                                border-radius: 8px;
                            }
                            span {
                                font-size: 13px;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            } 
            &_title {
                font-size: 18px; margin-bottom: 20px;
            }
            &_progress {
                margin-bottom: 20px;
                &_title {
                    font-size: 15px;
                }
                .progress {
                    margin-top: 10px; height: 8px;
                }
            }
            .chartbox {
                h3 {
                    font-size: 16px; margin-bottom: 15px;
                }
            }
        }
        .nav{
            &-link{
                font-size: 14px;color: color(250);padding: 15px 15px 10px;
            }
        }
        .timeLine{
            padding-top: 15px;
            li{
                margin-bottom: 40px;
            }
            &_icon{
                margin-left: 20px;margin-right: 40px;width: 40px;
                &_bg{
                    height: 40px;width: 40px;
                }
                &_box{
                    width: 30px;height: 30px;font-size: 17px;
                }
                &::after{
                    top: 40px;height: calc(100% + 40px);
                }
            }
            &_cnt{
                &_box{
                    padding: 15px;
                    &::before{
                        left: -16px;width: 16px;height: 16px;
                        border-top:9px solid transparent;border-bottom:9px solid transparent;border-right:9px solid color(100);
                    }
                }
                p{
                    font-size: 14px;
                }
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(xxl){
        .card {
            padding: 20px 15px; 
            .profileImg {
                width: 60px; height: 60px;padding:2px;
                em {
                    font-size: 24px; 
                }
            }
            &_leftbox {
                
                h2 {
                    font-size: 24px;
                }
                ul {
                    li {
                        &:not(:last-child){
                            padding-right: 10px;margin-right: 10px;
                        }
                    }
                }
            }
            &_rightbox {
                .info{
                    h4{
                        font-size: 20px;
                        button{
                            margin-left: 5px;
                            em{
                                font-size: 20px;
                            }
                        }
                    }
                }
                ul {
                    row-gap: 10px;
                    li {
                        h3 {
                            font-size: 15px; 
                        }
                    }
                }
            } 
            &_title {
                font-size: 16px;
            }
            .chartbox {
                h3 {
                    font-size: 15px;
                }
            }
        }
    }
    @include media-breakpoint-down(xl){
        .card {
            &_leftbox {
                h2 {
                    font-size: 22px;
                }
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
    @include media-breakpoint-down(lg){
        .card {
            &.flex-row{
                flex-wrap: wrap;
            }
            &_leftbox { width: 100%;flex: 0 0 100%;
                p{margin-bottom: 5px;}
                h2 {
                    font-size: 20px;
                }
            }
            &_rightbox { width: 100%;flex: 0 0 100%;margin-top: 15px;
                .info{
                    h4{
                        font-size: 18px;
                        button{
                            em{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        .card {
            .profileImg {
                em {
                    font-size: 22px; 
                }
            }
            &_leftbox{
                h2 {
                    font-size: 18px;
                }
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
            &_rightbox {
                .info{
                    h4{
                        font-size: 16px;
                        button{
                            em{
                                font-size: 16px;
                            }
                        }
                    }
                }
                ul{
                    flex-wrap: wrap;row-gap: 5px;
                    li{
                        width: 100%;
                        p{
                            font-size: 13px;
                        }
                        h3{
                            font-size: 14px;
                        }
                    }
                }
            }
            &_title{
                margin-bottom: 15px;font-size: 15px;
            }
            &_progress{
                margin-bottom: 15px;
                &_title{
                    font-size: 14px;
                }
            }
        }
        .timeLine{
            overflow-x: auto;
            li{
                margin-bottom: 30px;
            }
            &_time{
                min-width: 60px;
                span {
                    font-size: 12px;
                }
                p{
                    font-size: 11px;
                }
            }
            &_icon{
                margin-left: 15px;margin-right: 20px;
            }
            &_cnt{
                &:not(:first-child){min-width: 100%;}
                &_box{
                    padding: 15px 10px;
                }
                p{
                    font-size: 13px;
                }
                ul{
                    li{
                        font-size: 12px;
                    }
                }
            }
        }
        .nav{
            &-item{
                &:not(:last-child){
                    margin-right: 10px;
                }
            }
            &-link{
                padding: 10px 10px 10px;
                &.active{border-bottom: 0;}
            }
        }
    }

    .contactWrap{
        max-width: 860px;
    }

} 